@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

a,
button {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none; }

.header {
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover; }
  .header__wrapper {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .header__title {
    width: 750px;
    font-family: "Merriweather", serif;
    font-size: 55px;
    color: #ffffff;
    font-weight: 400;
    border: 1px solid #595959;
    padding: 50px 0;
    text-align: center; }
    .header__title--highlight {
      color: #e79f3d; }
    @media (max-width: 1100px) {
      .header__title {
        width: 600px;
        font-size: 40px; } }
    @media (max-width: 800px) {
      .header__title {
        width: 450px;
        font-size: 30px; } }
    @media (max-width: 600px) {
      .header__title {
        width: 300px;
        font-size: 20px; } }
    @media (max-width: 320px) {
      .header__title {
        width: calc(100% - 100px);
        font-size: 16px;
        padding: 50px 20px; } }

.navigation {
  z-index: 3; }
  .navigation__list {
    list-style: none;
    display: flex;
    margin-top: 41px; }
    @media (max-width: 1100px) {
      .navigation__list {
        margin-top: 30px; } }
    @media (max-width: 800px) {
      .navigation__list {
        margin-top: 20px; } }
  .navigation__item {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border-right: 1px solid #e79f3d;
    padding: 0 12px; }
    @media (max-width: 800px) {
      .navigation__item {
        font-size: 11px; } }
    .navigation__item a {
      transition: all 0.2s ease-in; }
      .navigation__item a:visited, .navigation__item a:active, .navigation__item a:link {
        color: #ffffff; }
      .navigation__item a:hover {
        color: #e79f3d; }
    .navigation__item:last-child {
      border: none; }
  .navigation::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    left: calc(50% - 16px); }

.hero-footer {
  width: 100%;
  padding: 0 15%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 320px) {
    .hero-footer {
      display: none; } }
  .hero-footer a {
    top: 30px; }
    @media (max-width: 1100px) {
      .hero-footer a {
        top: 20px; } }
    @media (max-width: 800px) {
      .hero-footer a {
        top: 10px; } }
  .hero-footer__logo {
    z-index: 3;
    display: block;
    text-align: center;
    line-height: 41px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #e79f3d;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    transition: all 0.2s ease-in; }
    @media (max-width: 600px) {
      .hero-footer__logo {
        width: 40px;
        height: 40px;
        line-height: 37px; } }
    .hero-footer__logo:link, .hero-footer__logo:active, .hero-footer__logo:visited {
      color: #e79f3d; }
    .hero-footer__logo:hover {
      color: #ffffff;
      border-color: #ffffff; }
  .hero-footer__contact {
    z-index: 3;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor: pointer; }
    @media (max-width: 600px) {
      .hero-footer__contact {
        font-size: 11px; } }
    .hero-footer__contact:link, .hero-footer__contact:active, .hero-footer__contact:visited {
      color: #ffffff; }
    .hero-footer__contact:hover {
      color: #e79f3d; }
    .hero-footer__contact::after {
      content: "→";
      display: inline-block;
      color: #e79f3d;
      padding-left: 10px; }

.fixed {
  position: fixed;
  top: 0; }
  .fixed::after {
    display: none; }

.link_fixed {
  position: fixed;
  top: 0;
  margin-top: 11px;
  right: 15%; }

.services {
  min-height: 825px;
  background-color: #202020;
  padding: 125px 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 140px repeat(3, 1fr);
  position: relative; }
  @media (max-width: 1100px) {
    .services {
      padding: 125px 10%; } }
  @media (max-width: 900px) {
    .services {
      padding: 125px 10%; } }
  @media (max-width: 800px) {
    .services {
      padding-top: 90px; } }
  .services__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    position: relative; }
    @media (max-width: 800px) {
      .services__title {
        font-size: 12px; } }
    .services__title:before {
      content: "";
      display: block;
      width: 2px;
      height: 125px;
      position: absolute;
      top: -147px;
      left: 50%;
      background-color: #e79f3d; }
      @media (max-width: 800px) {
        .services__title:before {
          height: 90px;
          top: -112px; } }
  .services__description {
    font-family: "Merriweather", serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    padding: 0 20%;
    text-align: center;
    margin: 30px 0 30px 0; }
    @media (max-width: 1100px) {
      .services__description {
        font-size: 32px; } }
    @media (max-width: 800px) {
      .services__description {
        font-size: 24px; } }
    @media (max-width: 600px) {
      .services__description {
        font-size: 20px; } }
    @media (max-width: 320px) {
      .services__description {
        font-size: 18px;
        padding: 0; } }
  .services__details {
    position: fixed;
    height: 100%;
    width: 70%;
    left: 50%;
    top: 0;
    transform: translateX(-200%);
    transition: transform 0.5s ease-in-out; }
    @media (max-width: 1300px) {
      .services__details {
        width: 100%; } }
  .services .details {
    z-index: 3;
    background-color: #202020;
    display: grid;
    grid-template-columns: 45% 55%; }
    @media (max-width: 1100px) {
      .services .details {
        grid-template-columns: 30% 70%; } }
    @media (max-width: 900px) {
      .services .details {
        grid-template-columns: 1fr;
        grid-template-rows: 35% 65%; } }
    @media (max-width: 320px) {
      .services .details {
        grid-template-rows: 20vh calc(80vh - 25px); } }
    .services .details__wrapper {
      grid-column: 1 / 2; }
      @media (max-width: 900px) {
        .services .details__wrapper {
          grid-column: span 1; } }
    .services .details .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: url(../img/services_details_bgd.jpg);
      background-size: cover;
      background-position: right;
      padding-top: 150px; }
      @media (max-width: 900px) {
        .services .details .wrapper {
          padding-top: 40px; } }
      .services .details .wrapper__title {
        font-family: "Merriweather", serif;
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        display: block;
        width: 200px;
        height: 75px;
        color: #232323;
        font-weight: 600;
        background-color: #ffffff;
        text-align: center;
        line-height: 75px;
        align-self: flex-end; }
        @media (max-width: 320px) {
          .services .details .wrapper__title {
            width: 170px;
            height: 50px;
            line-height: 50px;
            font-size: 20px; } }
      .services .details .wrapper__hide {
        width: 40px;
        height: 40px;
        background-image: url(../img/arrow_hide.png);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 25px 25px;
        cursor: pointer; }
        @media (max-width: 900px) {
          .services .details .wrapper__hide {
            position: absolute;
            right: 50px;
            bottom: 10px; } }
        @media (max-width: 320px) {
          .services .details .wrapper__hide {
            margin: 0;
            bottom: 20px;
            right: 20px; } }
    .services .details__aside {
      grid-column: 2 / 3; }
      @media (max-width: 1300px) {
        .services .details__aside {
          overflow-y: scroll; } }
      @media (max-width: 900px) {
        .services .details__aside {
          grid-column: span 1; } }
    .services .details .aside {
      padding-left: 45px;
      font-family: "Open Sans", sans-serif;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      @media (max-width: 1300px) {
        .services .details .aside {
          flex-wrap: nowrap; } }
      @media (max-width: 320px) {
        .services .details .aside {
          padding-left: 25px; } }
      .services .details .aside__subtitle {
        padding-top: 150px;
        color: #ffffff;
        font-size: 17px;
        text-transform: uppercase;
        margin-bottom: 35px;
        letter-spacing: 1px;
        font-weight: 600; }
        @media (max-width: 900px) {
          .services .details .aside__subtitle {
            padding-top: 40px;
            position: relative; } }
        @media (max-width: 320px) {
          .services .details .aside__subtitle {
            margin-bottom: 20px; } }
        .services .details .aside__subtitle::before {
          content: "";
          display: block;
          width: 2px;
          height: 130px;
          position: absolute;
          top: 0;
          background-color: #e79f3d; }
          @media (max-width: 900px) {
            .services .details .aside__subtitle::before {
              left: 0;
              height: 35px; } }
      .services .details .aside__description {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #bbbbbb;
        line-height: 28px;
        margin-bottom: 30px;
        padding-right: 30%; }
        @media (max-width: 900px) {
          .services .details .aside__description {
            padding-right: 10%; } }
      .services .details .aside__awards {
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap; }
        .services .details .aside__awards h5 {
          flex-basis: 40%;
          padding-left: 25px;
          height: 50px;
          position: relative; }
          @media (max-width: 320px) {
            .services .details .aside__awards h5 {
              flex-basis: 80%; } }
          .services .details .aside__awards h5:before {
            content: "";
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            display: block;
            background-position: left;
            background-repeat: no-repeat; }
          .services .details .aside__awards h5:nth-child(1):before {
            background-image: url(../img/strategist_icon.png); }
          .services .details .aside__awards h5:nth-child(2):before {
            background-image: url(../img/research_icon.png); }
          .services .details .aside__awards h5:nth-child(3):before {
            background-image: url(../img/planning_icon.png); }
          .services .details .aside__awards h5:nth-child(4):before {
            background-image: url(../img/trusted_icon.png); }
      .services .details .aside__contact {
        display: block;
        color: #232323;
        width: 220px;
        height: 60px;
        background-color: #e79f3d;
        text-align: center;
        line-height: 56px;
        font-size: 17px;
        text-transform: uppercase;
        border: 2px solid #e79f3d; }
        @media (max-width: 320px) {
          .services .details .aside__contact {
            width: 180px;
            height: 50px;
            line-height: 46px;
            font-size: 14px; } }
        .services .details .aside__contact:hover {
          background-color: #232323;
          color: #e79f3d; }

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  padding-left: 25%;
  grid-row: span 3; }
  @media (max-width: 900px) {
    .box {
      grid-row: span 1;
      grid-column: span 3;
      padding-left: 0;
      margin-bottom: 40px;
      flex-wrap: wrap; } }
  .box__icon {
    width: 21px; }
    @media (max-width: 900px) {
      .box__icon {
        margin: 20px auto 20px auto; } }
  .box__title {
    font-family: "Merriweather", serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400; }
    @media (max-width: 1100px) {
      .box__title {
        font-size: 25px; } }
    @media (max-width: 900px) {
      .box__title {
        text-align: center;
        margin-bottom: 15px; } }
  .box__description {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #bbbbbb;
    line-height: 28px;
    padding-right: 25%; }
    @media (max-width: 900px) {
      .box__description {
        padding-left: 25%;
        text-align: justify; } }
    @media (max-width: 500px) {
      .box__description {
        padding: 0 10%; } }
  .box__link {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor: pointer;
    max-width: 120px;
    text-align: left; }
    @media (max-width: 600px) {
      .box__link {
        font-size: 11px; } }
    .box__link:link, .box__link:active, .box__link:visited {
      color: #ffffff; }
    .box__link:hover {
      color: #e79f3d; }
    .box__link::after {
      content: "→";
      display: inline-block;
      color: #e79f3d;
      padding-left: 10px; }
    @media (max-width: 900px) {
      .box__link {
        margin: 15px auto 25px auto; } }

.portfolio {
  min-height: 950px;
  padding: 145px 15%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1100px) {
    .portfolio {
      min-height: 700px;
      padding: 145px 10%; } }
  @media (max-width: 700px) {
    .portfolio {
      padding: 100px 10%;
      min-height: 550px; } }
  @media (max-width: 500px) {
    .portfolio {
      padding: 80px 10%;
      min-height: 300px; } }
  @media (max-width: 320px) {
    .portfolio {
      padding: 40px 20px;
      min-height: 300px; } }
  .portfolio__slide {
    position: absolute;
    z-index: 0;
    max-width: 900px;
    height: calc(100% - 340px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.6s ease-in-out; }
    @media (max-width: 1100px) {
      .portfolio__slide {
        max-width: 750px; } }
    @media (max-width: 900px) {
      .portfolio__slide {
        max-width: 600px; } }
    @media (max-width: 700px) {
      .portfolio__slide {
        max-width: 450px;
        height: calc(100% - 250px); } }
    @media (max-width: 500px) {
      .portfolio__slide {
        max-width: 300px;
        height: calc(100% - 210px); } }
    @media (max-width: 320px) {
      .portfolio__slide {
        width: 100%;
        height: calc(100% - 105px); } }
  .portfolio .slide__active {
    opacity: 1; }
  .portfolio__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    position: relative;
    margin-top: 100px; }
    @media (max-width: 800px) {
      .portfolio__title {
        font-size: 12px; } }
    @media (max-width: 320px) {
      .portfolio__title {
        margin-top: 50px;
        background-color: #181818;
        width: 145px;
        text-align: center;
        padding: 3px 2px; } }
    .portfolio__title:before {
      content: "";
      display: block;
      width: 2px;
      height: 80px;
      position: absolute;
      top: -100px;
      background-color: #e79f3d; }
      @media (max-width: 320px) {
        .portfolio__title:before {
          height: 35px;
          top: -50px; } }
  .portfolio__subtitle {
    font-family: "Merriweather", serif;
    color: #ffffff;
    font-size: 55px;
    font-weight: 400;
    padding-top: 15px;
    flex: 1;
    text-shadow: 2px 2px 6px rgba(24, 24, 24, 0.5);
    z-index: 1; }
    @media (max-width: 1100px) {
      .portfolio__subtitle {
        font-size: 45px; } }
    @media (max-width: 900px) {
      .portfolio__subtitle {
        font-size: 35px; } }
    @media (max-width: 320px) {
      .portfolio__subtitle {
        font-size: 27px; } }
  .portfolio__button {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor: pointer;
    width: 150px;
    text-align: left;
    align-self: flex-end;
    padding-bottom: 15px;
    z-index: 2; }
    @media (max-width: 600px) {
      .portfolio__button {
        font-size: 11px; } }
    .portfolio__button:link, .portfolio__button:active, .portfolio__button:visited {
      color: #ffffff; }
    .portfolio__button:hover {
      color: #e79f3d; }
    .portfolio__button::after {
      content: "→";
      display: inline-block;
      color: #e79f3d;
      padding-left: 10px; }
    @media (max-width: 320px) {
      .portfolio__button {
        width: 115px; } }
    .portfolio__button:last-of-type {
      margin-bottom: 150px;
      position: relative; }
      @media (max-width: 500px) {
        .portfolio__button:last-of-type {
          margin-bottom: 30px; } }
      .portfolio__button:last-of-type:before {
        content: "";
        display: block;
        width: 2px;
        height: 150px;
        position: absolute;
        background-color: #e79f3d;
        top: 33.8px; }
        @media (max-width: 500px) {
          .portfolio__button:last-of-type:before {
            height: 55px; } }
        @media (max-width: 320px) {
          .portfolio__button:last-of-type:before {
            height: 25px; } }
  .portfolio__pagination {
    height: 50px; }
    @media (max-width: 320px) {
      .portfolio__pagination {
        height: 25px; } }
  .portfolio .pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .portfolio .pagination__dot {
      background-color: #5c5c5c;
      cursor: pointer;
      width: 35px;
      height: 14px;
      margin: 0 25px;
      border-top: 6px solid #181818;
      border-bottom: 6px solid #181818; }
      .portfolio .pagination__dot.active {
        background-color: #e79f3d; }
      @media (max-width: 700px) {
        .portfolio .pagination__dot {
          width: 30px;
          margin: 0 20px; } }
      @media (max-width: 500px) {
        .portfolio .pagination__dot {
          width: 25px;
          margin: 0 15px; } }
  .portfolio__details {
    height: calc(100% - 285px);
    width: 90%;
    position: absolute;
    left: 50%;
    z-index: 2;
    background-color: #202020;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    transform: translateX(-200%);
    transition: transform 0.5s ease-in-out; }
    @media (max-width: 900px) {
      .portfolio__details {
        grid-template-columns: 1fr;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0; } }
    .portfolio__details:before {
      content: "";
      display: block;
      position: absolute;
      width: 125px;
      height: 125px;
      border-left: 2px solid #e79f3d;
      border-top: 2px solid #e79f3d; }
    .portfolio__details .details__wrapper-left {
      padding: 50px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll; }
      @media (max-width: 320px) {
        .portfolio__details .details__wrapper-left {
          padding: 50px 20px; } }
    .portfolio__details .details__title {
      font-family: "Merriweather", serif;
      color: #ffffff;
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 30px; }
      @media (max-width: 320px) {
        .portfolio__details .details__title {
          font-size: 26px;
          margin-bottom: 15px; } }
    .portfolio__details .details__subtitle {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #e79f3d;
      margin-bottom: 20px; }
      @media (max-width: 800px) {
        .portfolio__details .details__subtitle {
          font-size: 12px; } }
      .portfolio__details .details__subtitle span {
        color: #ffffff; }
    .portfolio__details .details__description {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #bbbbbb;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 30px;
      font-size: 13px;
      line-height: 24px; }
    .portfolio__details .details__slideshow {
      font-family: "Open Sans", sans-serif;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      cursor: pointer;
      font-weight: 500;
      max-width: 150px;
      text-align: left; }
      @media (max-width: 600px) {
        .portfolio__details .details__slideshow {
          font-size: 11px; } }
      .portfolio__details .details__slideshow:link, .portfolio__details .details__slideshow:active, .portfolio__details .details__slideshow:visited {
        color: #ffffff; }
      .portfolio__details .details__slideshow:hover {
        color: #e79f3d; }
      .portfolio__details .details__slideshow::after {
        content: "→";
        display: inline-block;
        color: #e79f3d;
        padding-left: 10px; }
    .portfolio__details .details__wrapper-right {
      background-color: grey;
      overflow: hidden; }
      @media (max-width: 900px) {
        .portfolio__details .details__wrapper-right {
          display: none; } }
      .portfolio__details .details__wrapper-right .details__image {
        width: 100%;
        height: 100%;
        display: none; }
      .portfolio__details .details__wrapper-right .details__image--active {
        display: block;
        object-fit: cover; }
        @media (max-width: 900px) {
          .portfolio__details .details__wrapper-right .details__image--active {
            display: none; } }
    .portfolio__details .details__return {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      max-width: 180px;
      text-align: left;
      justify-self: center; }
      @media (max-width: 600px) {
        .portfolio__details .details__return {
          font-size: 11px; } }
      .portfolio__details .details__return:hover {
        color: #e79f3d; }
      .portfolio__details .details__return:before {
        content: "←";
        display: inline-block;
        color: #e79f3d;
        padding-right: 10px; }
  .portfolio__slideshow {
    height: calc(100% - 285px);
    width: 90%;
    position: absolute;
    left: 50%;
    z-index: 2;
    background-color: #181818;
    display: grid;
    transform: translateX(200%);
    transition: transform 0.5s ease-in-out; }
    @media (max-width: 900px) {
      .portfolio__slideshow {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0; } }
  .portfolio .slideshow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px; }
    @media (max-width: 320px) {
      .portfolio .slideshow {
        grid-template-rows: 1fr 50px; } }
    .portfolio .slideshow__wrapper {
      grid-column: 1 / 3;
      grid-row: 1 / 2; }
    .portfolio .slideshow__image {
      position: absolute;
      width: 100%;
      max-height: calc(100% - 50px);
      opacity: 0;
      overflow: hidden;
      object-fit: cover;
      transition: opacity 0.6s ease-in-out; }
      @media (max-width: 900px) {
        .portfolio .slideshow__image {
          height: auto;
          top: 50%;
          transform: translateY(-50%); } }
    .portfolio .slideshow__image--active {
      opacity: 1; }
    .portfolio .slideshow__return {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      max-width: 200px;
      text-align: left;
      justify-self: start; }
      @media (max-width: 600px) {
        .portfolio .slideshow__return {
          font-size: 11px; } }
      .portfolio .slideshow__return:hover {
        color: #e79f3d; }
      .portfolio .slideshow__return:before {
        content: "←";
        display: inline-block;
        color: #e79f3d;
        padding-right: 10px; }
      @media (max-width: 320px) {
        .portfolio .slideshow__return {
          width: 90px;
          text-align: left;
          padding-left: 10px; } }
      .portfolio .slideshow__return:before {
        padding: 0 10px 0 25px; }
        @media (max-width: 320px) {
          .portfolio .slideshow__return:before {
            display: none; } }
    .portfolio .slideshow .pagination {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      @media (max-width: 320px) {
        .portfolio .slideshow .pagination {
          justify-content: center; } }
      .portfolio .slideshow .pagination__dot2 {
        background-color: #5c5c5c;
        cursor: pointer;
        width: 20px;
        height: 3px;
        margin-right: 30px; }
        .portfolio .slideshow .pagination__dot2.active {
          background-color: #e79f3d; }
        @media (max-width: 320px) {
          .portfolio .slideshow .pagination__dot2 {
            margin-right: 15px; } }
    .portfolio .slideshow__btn {
      position: absolute;
      width: 70px;
      height: calc(100% - 50px);
      z-index: 2;
      cursor: pointer; }
      .portfolio .slideshow__btn:hover {
        background-color: #181818;
        opacity: 0.3; }
      .portfolio .slideshow__btn--previous {
        left: 0; }
      .portfolio .slideshow__btn--next {
        right: 0; }

.testimonials {
  background-color: #202020;
  padding: 125px 15% 110px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1125px; }
  @media (max-width: 750px) {
    .testimonials {
      padding: 125px 5% 110px 5%; } }
  @media (max-width: 500px) {
    .testimonials {
      padding: 125px 0 110px 0; } }
  .testimonials__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    height: 60px;
    line-height: 60px;
    position: relative; }
    @media (max-width: 800px) {
      .testimonials__title {
        font-size: 12px; } }
    .testimonials__title::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #e79f3d;
      width: 2px;
      height: 125px;
      top: -125px;
      left: 50%; }
  .testimonials__subtitle {
    font-family: "Merriweather", serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;
    padding: 0 20%;
    text-align: center; }
    @media (max-width: 1100px) {
      .testimonials__subtitle {
        font-size: 32px;
        padding: 0 5%; } }
    @media (max-width: 800px) {
      .testimonials__subtitle {
        font-size: 24px;
        line-height: 45px; } }
    @media (max-width: 600px) {
      .testimonials__subtitle {
        font-size: 20px; } }
    @media (max-width: 320px) {
      .testimonials__subtitle {
        font-size: 18px;
        padding: 0; } }
  .testimonials__logos {
    flex-basis: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; }
    .testimonials__logos img {
      filter: brightness(0.6) sepia(1) hue-rotate(180deg) saturate(0);
      margin: 15px 15px; }
    .testimonials__logos .visa {
      filter: brightness(1.8) sepia(1) hue-rotate(180deg) saturate(0); }
  .testimonials__slider {
    min-height: 375px;
    width: 750px;
    background-color: #181818;
    box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.3); }
    @media (max-width: 900px) {
      .testimonials__slider {
        width: 600px; } }
    @media (max-width: 750px) {
      .testimonials__slider {
        width: 500px; } }
    @media (max-width: 500px) {
      .testimonials__slider {
        width: calc(100% - 30px); } }
  .testimonials .slider__quote {
    font-family: "Merriweather", serif;
    color: #bbbbbb;
    text-align: center;
    font-size: 17px;
    line-height: 35px;
    position: relative;
    margin-top: 75px;
    padding: 40px 50px; }
    @media (max-width: 750px) {
      .testimonials .slider__quote {
        font-size: 14px;
        margin-top: 60px; } }
    .testimonials .slider__quote:before {
      content: "";
      display: block;
      position: absolute;
      width: 75px;
      height: 75px;
      background-color: #d5d5d5;
      top: -75px;
      left: calc(50% - 37.5px); }
      @media (max-width: 750px) {
        .testimonials .slider__quote:before {
          width: 60px;
          height: 60px;
          top: -60px;
          left: calc(50% - 30px); } }
  .testimonials .slider__author {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    padding: 0 50px;
    display: flex;
    width: 100%;
    align-items: center; }
    @media (max-width: 800px) {
      .testimonials .slider__author {
        font-size: 12px; } }
    .testimonials .slider__author:before, .testimonials .slider__author:after {
      content: "";
      display: inline-block;
      height: 1px;
      flex: 1;
      background-color: #474747;
      margin: 0 40px; }
  .testimonials .slider__company {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    text-align: center; }
  .testimonials__dots {
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  @media (max-width: 320px) {
    .testimonials .dots {
      display: none; } }
  .testimonials .dots__item {
    background-color: #5c5c5c;
    cursor: pointer;
    height: 2px;
    width: 30px;
    margin: 0 23px; }
    .testimonials .dots__item.active {
      background-color: #e79f3d; }

.team {
  min-height: 1100px;
  background-color: #181818;
  padding: 125px 15% 110px 15%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 900px) {
    .team {
      padding: 125px 5% 110px 5%; } }
  @media (max-width: 500px) {
    .team {
      padding: 125px 0 110px 0; } }
  .team__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    height: 40px;
    line-height: 40px;
    position: relative; }
    @media (max-width: 800px) {
      .team__title {
        font-size: 12px; } }
    .team__title::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #e79f3d;
      width: 2px;
      height: 125px;
      top: -125px;
      left: 50%; }
  .team__subtitle {
    font-family: "Merriweather", serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;
    padding: 0 20%;
    text-align: center;
    margin-bottom: 40px; }
    @media (max-width: 1100px) {
      .team__subtitle {
        font-size: 32px;
        padding: 0 5%; } }
    @media (max-width: 800px) {
      .team__subtitle {
        font-size: 24px;
        line-height: 45px; } }
    @media (max-width: 600px) {
      .team__subtitle {
        font-size: 20px; } }
    @media (max-width: 320px) {
      .team__subtitle {
        font-size: 18px;
        padding: 0; } }
  .team__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .team__member {
    position: relative;
    width: 285px;
    height: 315px;
    background-color: #181818; }

.member {
  overflow: hidden; }
  .member:hover .member__photo {
    width: 55px;
    height: 55px;
    transform: translate(-75px, -37.5px); }
  .member:hover .member__wrapper {
    transform: translate(-110px, -40px) rotate(90deg); }
  .member:hover .member__description {
    transform: translateX(75px); }
  .member:hover:before {
    content: "";
    display: block;
    position: absolute;
    width: 75px;
    height: 75px;
    border-left: 1px solid #e79f3d;
    border-top: 1px solid #e79f3d; }
  .member__photo {
    position: absolute;
    top: 45px;
    left: 82.5px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    transition: all 0.3s ease-in; }
  .member__wrapper {
    position: absolute;
    width: 195px;
    top: 185px;
    left: 45px;
    transition: all 0.3s ease-in;
    text-align: center; }
  .member__wrapper h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    height: 22.5px;
    line-height: 22.5px; }
    @media (max-width: 800px) {
      .member__wrapper h4 {
        font-size: 12px; } }
  .member__wrapper h5 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    height: 22.5px;
    line-height: 22.5px;
    font-weight: 400; }
  .member__description {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #bbbbbb;
    line-height: 25px;
    position: absolute;
    width: 210px;
    height: 100%;
    padding: 10px 10px 0 10px;
    transform: translateX(285px);
    transition: all 0.4s ease-in; }
  .member:nth-of-type(1), .member:nth-of-type(2), .member:nth-of-type(4), .member:nth-of-type(5) {
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020; }
  .member:nth-of-type(3), .member:nth-of-type(6) {
    border-bottom: 1px solid #202020; }
  .member:nth-of-type(7) {
    border-right: 1px solid #202020; }

.contact {
  min-height: 900px;
  background-color: #343434;
  padding: 125px 15% 110px 15%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 900px) {
    .contact {
      padding: 125px 5% 110px 5%; } }
  @media (max-width: 500px) {
    .contact {
      padding: 125px 15px 110px 15px; } }
  .contact__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    height: 40px;
    line-height: 40px;
    position: relative; }
    @media (max-width: 800px) {
      .contact__title {
        font-size: 12px; } }
    .contact__title::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #e79f3d;
      width: 2px;
      height: 125px;
      top: -125px;
      left: 50%; }
  .contact__subtitle {
    font-family: "Merriweather", serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    margin: 30px 0 90px 0; }
    @media (max-width: 1100px) {
      .contact__subtitle {
        font-size: 32px;
        padding: 0 5%; } }
    @media (max-width: 800px) {
      .contact__subtitle {
        font-size: 24px;
        line-height: 45px; } }
    @media (max-width: 600px) {
      .contact__subtitle {
        font-size: 20px; } }
    @media (max-width: 320px) {
      .contact__subtitle {
        font-size: 18px;
        padding: 0; } }
  .contact__form {
    min-height: 500px;
    max-width: 750px; }

.form {
  background-color: #181818;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 50px 20px;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.3); }
  @media (max-width: 500px) {
    .form {
      padding: 30px 10px; } }
  .form__item {
    flex-basis: 50%;
    height: 60px;
    padding: 0 40px;
    margin-bottom: 70px;
    position: relative; }
    @media (max-width: 600px) {
      .form__item {
        flex-basis: 100%;
        padding: 0 20px; } }
    @media (max-width: 500px) {
      .form__item {
        padding: 0 10px; } }
    .form__item input {
      background: transparent;
      border: none;
      border-bottom: #5c5c5c 1px solid;
      width: 100%;
      height: 50px;
      font-family: "Open Sans", sans-serif;
      color: #ffffff;
      font-size: 14px;
      line-height: 65px; }
      .form__item input:focus + label {
        top: -15px;
        font-size: 11px;
        color: #e79f3d; }
      .form__item input:focus {
        border-bottom-color: #e79f3d; }
      .form__item input::placeholder {
        color: transparent; }
      .form__item input:not(:placeholder-shown) + label {
        top: -15px;
        font-size: 11px; }
    .form__item--message {
      flex-basis: 100%; }
    .form__item label {
      position: absolute;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #e79f3d;
      color: #ffffff;
      text-transform: uppercase;
      top: 3px;
      left: 40px;
      transition: 0.2s ease-out all; }
      @media (max-width: 800px) {
        .form__item label {
          font-size: 12px; } }
  .form__submit {
    width: 220px;
    height: 60px;
    background-color: #feb960;
    color: #232323;
    border: none;
    transition: all 0.1s ease-in;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    margin: 0 auto 30px auto;
    cursor: pointer; }
    @media (max-width: 500px) {
      .form__submit {
        width: 180px;
        height: 50px;
        font-size: 15px; } }
    .form__submit:hover {
      background-color: #f5951a; }

.footer {
  min-height: 230px;
  padding: 0 calc(50% - 375px);
  background-color: #343434;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 900px) {
    .footer {
      padding: 0 10%;
      justify-content: center; } }
  .footer__logo {
    display: block;
    text-align: center;
    line-height: 44px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e79f3d;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    transition: all 0.2s ease-in; }
    @media (max-width: 900px) {
      .footer__logo {
        display: none; } }
    .footer__logo:link, .footer__logo:active, .footer__logo:visited {
      color: #e79f3d; }
    .footer__logo:hover {
      color: #ffffff;
      border-color: #ffffff; }
  .footer__address {
    padding-left: 30px;
    font-style: normal; }
    @media (max-width: 900px) {
      .footer__address {
        padding-left: 0;
        margin: 0 20px 50px 20px; } }

.address__title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #e79f3d;
  color: #ffffff;
  margin-bottom: 15px; }
  @media (max-width: 800px) {
    .address__title {
      font-size: 12px; } }

.address__line {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #bbbbbb;
  line-height: 28px; }
  .address__line--link:visited, .address__line--link:active, .address__line--link:link {
    color: #bbbbbb; }
  .address__line--link:hover {
    color: #e79f3d; }

.address__social {
  list-style: none;
  margin-top: 25px;
  display: flex; }

.social__item {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #bbbbbb;
  color: #343434;
  font-size: 13px;
  cursor: pointer;
  transition: 0.1s all; }
  .social__item:hover {
    background-color: #e79f3d; }

.expand {
  transform: translateX(-50%); }

@media (max-width: 800px) {
  .member:nth-of-type(1), .member:nth-of-type(2), .member:nth-of-type(3), .member:nth-of-type(4), .member:nth-of-type(5), .member:nth-of-type(6), .member:nth-of-type(7) {
    border: none;
    border-bottom: 1px solid #202020; }
  .member:nth-of-type(8) {
    border: none; } }

@media (min-width: 801px) and (max-width: 1230px) {
  .member:nth-of-type(1), .member:nth-of-type(3), .member:nth-of-type(5) {
    border: none;
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020; }
  .member:nth-of-type(2), .member:nth-of-type(4), .member:nth-of-type(6) {
    border: none;
    border-bottom: 1px solid #202020; } }

@media (min-width: 1630px) {
  .member:nth-of-type(1), .member:nth-of-type(2), .member:nth-of-type(3) {
    border: none;
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020; }
  .member:nth-of-type(4) {
    border: none;
    border-bottom: 1px solid #202020; }
  .member:nth-of-type(5), .member:nth-of-type(6) {
    border: none;
    border-right: 1px solid #202020; } }
