@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a, button {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none; }

.header {
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover; }
  .header__wrapper {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .header__title {
    width: 750px;
    font-family: "Merriweather", serif;
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 400;
    border: 1px solid #595959;
    padding: 50px 0;
    text-align: center; }
    .header__title--highlight {
      color: #e79f3d; }

.navigation {
  z-index: 3; }
  .navigation__list {
    list-style: none;
    display: flex;
    margin-top: 41px; }
  .navigation__item {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border-right: 1px solid #e79f3d;
    padding: 0 12px; }
    .navigation__item a {
      transition: all 0.2s ease-in; }
      .navigation__item a:visited, .navigation__item a:active, .navigation__item a:link {
        color: #FFFFFF; }
      .navigation__item a:hover {
        color: #e79f3d; }
    .navigation__item:last-child {
      border: none; }
  .navigation::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    left: calc(50% - 16px); }

.hero-footer {
  width: 100%;
  padding: 0 15%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .hero-footer a {
    top: 30px; }
  .hero-footer__logo {
    z-index: 3;
    display: block;
    text-align: center;
    line-height: 41px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #e79f3d;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    transition: all 0.2s ease-in; }
    .hero-footer__logo:link, .hero-footer__logo:active, .hero-footer__logo:visited {
      color: #e79f3d; }
    .hero-footer__logo:hover {
      color: #FFFFFF;
      border-color: #FFFFFF; }
  .hero-footer__contact {
    z-index: 3;
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor: pointer; }
    .hero-footer__contact:link, .hero-footer__contact:active, .hero-footer__contact:visited {
      color: #FFFFFF; }
    .hero-footer__contact:hover {
      color: #e79f3d; }
    .hero-footer__contact::after {
      content: "→";
      display: inline-block;
      color: #e79f3d;
      padding-left: 10px; }

.fixed {
  position: fixed;
  top: 0; }
  .fixed::after {
    display: none; }

.link_fixed {
  position: fixed;
  top: 0;
  margin-top: 11px;
  right: 15%; }

.services {
  min-height: 825px;
  background-color: #202020;
  padding: 125px 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 140px 1fr;
  position: relative; }
  .services__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    position: relative; }
    .services__title::before {
      content: "";
      display: block;
      width: 2px;
      height: 125px;
      position: absolute;
      top: -147px;
      left: 50%;
      background-color: #e79f3d; }
  .services__description {
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    padding: 0 20%;
    text-align: center;
    margin-bottom: 30px; }
  .services__details {
    position: fixed;
    height: 100%;
    width: 70%;
    left: 50%;
    top: 0;
    transform: translateX(-200%);
    transition: transform .5s ease-in-out; }
  .services .details {
    z-index: 3;
    background-color: #202020;
    display: grid;
    grid-template-columns: 45% 55%; }
    .services .details__wrapper {
      grid-column: 1 / 2; }
    .services .details .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: url(../img/services_details_bgd.jpg);
      background-size: cover;
      background-position: right;
      padding-top: 150px; }
      .services .details .wrapper__title {
        font-family: "Merriweather", serif;
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 400;
        display: block;
        width: 200px;
        height: 75px;
        color: #232323;
        font-weight: 600;
        background-color: #FFFFFF;
        text-align: center;
        line-height: 75px;
        align-self: flex-end; }
      .services .details .wrapper__hide {
        width: 40px;
        height: 40px;
        background-image: url(../img/arrow_hide.png);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 25px 25px;
        cursor: pointer; }
    .services .details__aside {
      grid-column: 2 / 3; }
    .services .details .aside {
      padding-left: 45px;
      font-family: "Open Sans", sans-serif;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .services .details .aside__subtitle {
        padding-top: 150px;
        color: #FFFFFF;
        font-size: 17px;
        text-transform: uppercase;
        margin-bottom: 35px;
        letter-spacing: 1px;
        font-weight: 600; }
        .services .details .aside__subtitle::before {
          content: "";
          display: block;
          width: 2px;
          height: 125px;
          position: absolute;
          top: 0;
          background-color: #e79f3d; }
      .services .details .aside__description {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #bbbbbb;
        line-height: 28px;
        margin-bottom: 30px;
        padding-right: 30%; }
      .services .details .aside__awards {
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap; }
        .services .details .aside__awards h5 {
          flex-basis: 40%;
          padding-left: 25px;
          height: 50px;
          position: relative; }
          .services .details .aside__awards h5:before {
            content: "";
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            display: block;
            background-position: left;
            background-repeat: no-repeat; }
          .services .details .aside__awards h5:nth-child(1):before {
            background-image: url(../img/strategist_icon.png); }
          .services .details .aside__awards h5:nth-child(2):before {
            background-image: url(../img/research_icon.png); }
          .services .details .aside__awards h5:nth-child(3):before {
            background-image: url(../img/planning_icon.png); }
          .services .details .aside__awards h5:nth-child(4):before {
            background-image: url(../img/trusted_icon.png); }
      .services .details .aside__contact {
        display: block;
        color: #232323;
        width: 220px;
        height: 60px;
        background-color: #e79f3d;
        text-align: center;
        line-height: 60px;
        font-size: 17px;
        text-transform: uppercase; }
        .services .details .aside__contact:hover {
          background-color: #232323;
          color: #e79f3d;
          border: 2px solid #e79f3d; }
  .services .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    padding-left: 25%; }
    .services .box__icon {
      width: 21px; }
    .services .box__title {
      font-family: "Merriweather", serif;
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 400; }
    .services .box__description {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #bbbbbb;
      line-height: 28px;
      padding-right: 25%; }
    .services .box__link {
      font-family: "Open Sans", sans-serif;
      color: #FFFFFF;
      font-size: 14px;
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      cursor: pointer;
      max-width: 120px;
      text-align: left; }
      .services .box__link:link, .services .box__link:active, .services .box__link:visited {
        color: #FFFFFF; }
      .services .box__link:hover {
        color: #e79f3d; }
      .services .box__link::after {
        content: "→";
        display: inline-block;
        color: #e79f3d;
        padding-left: 10px; }

.portfolio {
  min-height: 950px;
  padding: 145px 15%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  .portfolio__slide {
    position: absolute;
    z-index: 0;
    width: 47%;
    height: calc(100% - 340px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .6s ease-in-out; }
  .portfolio .slide__active {
    opacity: 1; }
  .portfolio__title {
    position: relative;
    text-transform: uppercase;
    color: #e79f3d;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    margin-top: 145px; }
    .portfolio__title:before {
      content: "";
      display: block;
      width: 2px;
      height: 125px;
      position: absolute;
      top: -145px;
      background-color: #e79f3d; }
  .portfolio__subtitle {
    font-family: "Merriweather", serif;
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 400;
    padding-top: 15px;
    flex: 1;
    text-shadow: 2px 2px 6px rgba(24, 24, 24, 0.5);
    z-index: 1; }
  .portfolio__button {
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor: pointer;
    width: 150px;
    text-align: left;
    align-self: flex-end;
    padding-bottom: 15px; }
    .portfolio__button:link, .portfolio__button:active, .portfolio__button:visited {
      color: #FFFFFF; }
    .portfolio__button:hover {
      color: #e79f3d; }
    .portfolio__button::after {
      content: "→";
      display: inline-block;
      color: #e79f3d;
      padding-left: 10px; }
    .portfolio__button:last-of-type {
      margin-bottom: 150px;
      position: relative; }
      .portfolio__button:last-of-type:before {
        content: "";
        display: block;
        width: 2px;
        height: 150px;
        position: absolute;
        background-color: #e79f3d;
        top: 33.8px; }
  .portfolio__pagination {
    height: 50px; }
  .portfolio .pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .portfolio .pagination__dot {
      background-color: #5c5c5c;
      cursor: pointer;
      width: 35px;
      height: 14px;
      margin: 0 25px;
      border-top: 6px solid #181818;
      border-bottom: 6px solid #181818; }
      .portfolio .pagination__dot.active {
        background-color: #e79f3d; }
  .portfolio__details {
    height: calc(100% - 285px);
    width: 70%;
    position: absolute;
    left: 50%;
    z-index: 2;
    background-color: #202020;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    transform: translateX(-200%);
    transition: transform .5s ease-in-out; }
    .portfolio__details:before {
      content: "";
      display: block;
      position: absolute;
      width: 125px;
      height: 125px;
      border-left: 2px solid #e79f3d;
      border-top: 2px solid #e79f3d; }
    .portfolio__details .details__wrapper-left {
      padding: 50px;
      display: flex;
      flex-direction: column; }
    .portfolio__details .details__title {
      font-family: "Merriweather", serif;
      color: #FFFFFF;
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 30px; }
    .portfolio__details .details__subtitle {
      font-family: "Open Sans", sans-serif;
      color: #e79f3d;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .1em;
      text-transform: uppercase;
      margin-bottom: 35px; }
      .portfolio__details .details__subtitle span {
        color: #FFFFFF; }
    .portfolio__details .details__description {
      font-family: "Open Sans", sans-serif;
      color: #bbbbbb;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 30px; }
    .portfolio__details .details__slideshow {
      font-family: "Open Sans", sans-serif;
      color: #FFFFFF;
      font-size: 14px;
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      cursor: pointer;
      font-weight: 500;
      max-width: 150px;
      text-align: left; }
      .portfolio__details .details__slideshow:link, .portfolio__details .details__slideshow:active, .portfolio__details .details__slideshow:visited {
        color: #FFFFFF; }
      .portfolio__details .details__slideshow:hover {
        color: #e79f3d; }
      .portfolio__details .details__slideshow::after {
        content: "→";
        display: inline-block;
        color: #e79f3d;
        padding-left: 10px; }
    .portfolio__details .details__wrapper-right {
      background-color: grey;
      overflow: hidden; }
      .portfolio__details .details__wrapper-right .details__image {
        width: 100%;
        height: 100%;
        display: none; }
      .portfolio__details .details__wrapper-right .details__image--active {
        display: block;
        object-fit: cover; }
    .portfolio__details .details__return {
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      max-width: 180px;
      text-align: left;
      justify-self: center; }
      .portfolio__details .details__return:hover {
        color: #e79f3d; }
      .portfolio__details .details__return:before {
        content: "←";
        display: inline-block;
        color: #e79f3d;
        padding-right: 10px; }
  .portfolio__slideshow {
    height: calc(100% - 285px);
    width: 70%;
    position: absolute;
    left: 50%;
    z-index: 2;
    background-color: #181818;
    display: grid;
    transform: translateX(200%);
    transition: transform .5s ease-in-out; }
  .portfolio .slideshow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px; }
    .portfolio .slideshow__wrapper {
      grid-column: 1 / 3;
      grid-row: 1 / 2; }
    .portfolio .slideshow__image {
      position: absolute;
      width: 100%;
      height: calc(100% - 50px);
      opacity: 0;
      overflow: hidden;
      object-fit: cover;
      transition: opacity .6s ease-in-out; }
    .portfolio .slideshow__image--active {
      opacity: 1; }
    .portfolio .slideshow__return {
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      max-width: 200px;
      text-align: left;
      justify-self: start; }
      .portfolio .slideshow__return:hover {
        color: #e79f3d; }
      .portfolio .slideshow__return:before {
        content: "←";
        display: inline-block;
        color: #e79f3d;
        padding-right: 10px; }
      .portfolio .slideshow__return:before {
        padding: 0 10px 0 25px; }
    .portfolio .slideshow .pagination {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .portfolio .slideshow .pagination__dot2 {
        background-color: #5c5c5c;
        cursor: pointer;
        width: 20px;
        height: 3px;
        margin-right: 30px; }
        .portfolio .slideshow .pagination__dot2.active {
          background-color: #e79f3d; }
    .portfolio .slideshow__btn {
      position: absolute;
      width: 70px;
      height: calc(100% - 50px);
      z-index: 2;
      cursor: pointer; }
      .portfolio .slideshow__btn:hover {
        background-color: #181818;
        opacity: .3; }
      .portfolio .slideshow__btn--previous {
        left: 0; }
      .portfolio .slideshow__btn--next {
        right: 0; }

.testimonials {
  background-color: #202020;
  padding: 125px 15% 110px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1125px; }
  .testimonials__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    height: 60px;
    line-height: 60px;
    position: relative; }
    .testimonials__title::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #e79f3d;
      width: 2px;
      height: 125px;
      top: -125px;
      left: 50%; }
  .testimonials__subtitle {
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;
    padding: 0 20%;
    text-align: center; }
  .testimonials__logos {
    flex-basis: 200px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .testimonials__logos img {
      filter: brightness(0.6) sepia(1) hue-rotate(180deg) saturate(0); }
    .testimonials__logos .visa {
      filter: brightness(1.8) sepia(1) hue-rotate(180deg) saturate(0); }
  .testimonials__slider {
    min-height: 375px;
    width: 750px;
    background-color: #181818;
    box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.3); }
  .testimonials .slider__quote {
    font-family: "Merriweather", serif;
    color: #bbbbbb;
    text-align: center;
    font-size: 17px;
    line-height: 35px;
    position: relative;
    margin-top: 75px;
    padding: 40px 50px; }
    .testimonials .slider__quote:before {
      content: "";
      display: block;
      position: absolute;
      width: 75px;
      height: 75px;
      background-color: #d5d5d5;
      top: -75px;
      left: calc(50% - 37.5px); }
  .testimonials .slider__author {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    padding: 0 50px;
    display: flex;
    width: 100%;
    align-items: center; }
    .testimonials .slider__author:before, .testimonials .slider__author:after {
      content: "";
      display: inline-block;
      height: 1px;
      flex: 1;
      background-color: #474747;
      margin: 0 40px; }
  .testimonials .slider__company {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    text-align: center; }
  .testimonials__dots {
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .testimonials .dots__item {
    background-color: #5c5c5c;
    cursor: pointer;
    height: 2px;
    width: 30px;
    margin: 0 23px; }
    .testimonials .dots__item.active {
      background-color: #e79f3d; }

.team {
  min-height: 1100px;
  background-color: #181818;
  padding: 125px 15% 110px 15%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .team__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    height: 40px;
    line-height: 40px;
    position: relative; }
    .team__title::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #e79f3d;
      width: 2px;
      height: 125px;
      top: -125px;
      left: 50%; }
  .team__subtitle {
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;
    padding: 0 20%;
    text-align: center;
    margin-bottom: 40px; }
  .team__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .team__member {
    position: relative;
    width: 285px;
    height: 315px;
    background-color: #181818; }
  .team .member {
    overflow: hidden; }
    .team .member:hover .member__photo {
      width: 55px;
      height: 55px;
      transform: translate(-75px, -37.5px); }
    .team .member:hover .member__wrapper {
      transform: translate(-110px, -40px) rotate(90deg); }
    .team .member:hover .member__description {
      transform: translateX(75px); }
    .team .member:hover:before {
      content: "";
      display: block;
      position: absolute;
      width: 75px;
      height: 75px;
      border-left: 1px solid #e79f3d;
      border-top: 1px solid #e79f3d; }
    .team .member__photo {
      position: absolute;
      top: 45px;
      left: 82.5px;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      transition: all 0.3s ease-in; }
    .team .member__wrapper {
      position: absolute;
      width: 195px;
      top: 185px;
      left: 45px;
      transition: all 0.3s ease-in;
      text-align: center; }
    .team .member__wrapper h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #e79f3d;
      height: 22.5px;
      line-height: 22.5px; }
    .team .member__wrapper h5 {
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      height: 22.5px;
      line-height: 22.5px;
      font-weight: 400; }
    .team .member__description {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      color: #bbbbbb;
      line-height: 25px;
      position: absolute;
      width: 210px;
      height: 100%;
      padding: 10px 10px 0 10px;
      transform: translateX(285px);
      transition: all 0.4s ease-in; }
    .team .member:nth-of-type(1), .team .member:nth-of-type(2), .team .member:nth-of-type(4), .team .member:nth-of-type(5) {
      border-right: 1px solid #202020;
      border-bottom: 1px solid #202020; }
    .team .member:nth-of-type(3), .team .member:nth-of-type(6) {
      border-bottom: 1px solid #202020; }
    .team .member:nth-of-type(7) {
      border-right: 1px solid #202020; }

.contact {
  min-height: 900px;
  background-color: #343434;
  padding: 125px 15% 110px 15%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e79f3d;
    height: 40px;
    line-height: 40px;
    position: relative; }
    .contact__title::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #e79f3d;
      width: 2px;
      height: 125px;
      top: -125px;
      left: 50%; }
  .contact__subtitle {
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    margin: 30px 0 90px 0; }
  .contact__form {
    min-height: 500px;
    max-width: 750px; }
  .contact .form {
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 50px 20px;
    box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.3); }
    .contact .form__item {
      flex-basis: 50%;
      height: 60px;
      padding: 0 40px;
      margin-bottom: 70px;
      position: relative; }
      .contact .form__item input {
        background: transparent;
        border: none;
        border-bottom: #5c5c5c 1px solid;
        width: 100%;
        height: 50px;
        font-family: "Open Sans", sans-serif;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 65px; }
        .contact .form__item input:focus + label {
          top: -15px;
          font-size: 11px;
          color: #e79f3d; }
        .contact .form__item input:focus {
          border-bottom-color: #e79f3d; }
        .contact .form__item input::placeholder {
          color: transparent; }
        .contact .form__item input:not(:placeholder-shown) + label {
          top: -15px;
          font-size: 11px; }
      .contact .form__item--message {
        flex-basis: 100%; }
      .contact .form__item label {
        position: absolute;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #e79f3d;
        color: #FFFFFF;
        text-transform: uppercase;
        top: 3px;
        left: 40px;
        transition: 0.2s ease-out all; }
    .contact .form__submit {
      width: 220px;
      height: 60px;
      background-color: #feb960;
      color: #232323;
      border: none;
      transition: all 0.1s ease-in;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      margin: 0 auto 30px auto;
      cursor: pointer; }
      .contact .form__submit:hover {
        background-color: #f5951a; }

.footer {
  min-height: 230px;
  padding: 0 calc(50% - 375px);
  background-color: #343434;
  display: flex;
  justify-content: space-between; }
  .footer__logo {
    display: block;
    text-align: center;
    line-height: 44px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e79f3d;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    transition: all 0.2s ease-in; }
    .footer__logo:link, .footer__logo:active, .footer__logo:visited {
      color: #e79f3d; }
    .footer__logo:hover {
      color: #FFFFFF;
      border-color: #FFFFFF; }
  .footer__address {
    padding-left: 30px;
    font-style: normal; }
    .footer__address .address__title {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #e79f3d;
      color: #FFFFFF;
      margin-bottom: 15px; }
    .footer__address .address__line {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #bbbbbb;
      line-height: 28px; }
      .footer__address .address__line--link:visited, .footer__address .address__line--link:active, .footer__address .address__line--link:link {
        color: #bbbbbb; }
      .footer__address .address__line--link:hover {
        color: #e79f3d; }
    .footer__address .address__social {
      list-style: none;
      margin-top: 25px;
      display: flex; }
      .footer__address .address__social .social__item {
        display: inline-block;
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        margin-right: 15px;
        border-radius: 50%;
        background-color: #bbbbbb;
        color: #343434;
        font-size: 13px;
        cursor: pointer;
        transition: .1s all; }
        .footer__address .address__social .social__item:hover {
          background-color: #e79f3d; }

.expand {
  transform: translateX(-50%); }

@media (max-width: 800px) {
  .team .member:nth-of-type(1), .team .member:nth-of-type(2), .team .member:nth-of-type(3), .team .member:nth-of-type(4), .team .member:nth-of-type(5), .team .member:nth-of-type(6), .team .member:nth-of-type(7) {
    border: none;
    border-bottom: 1px solid #202020; }
  .team .member:nth-of-type(8) {
    border: none; } }

@media (min-width: 801px) and (max-width: 1230px) {
  .team .member:nth-of-type(1), .team .member:nth-of-type(3), .team .member:nth-of-type(5) {
    border: none;
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020; }
  .team .member:nth-of-type(2), .team .member:nth-of-type(4), .team .member:nth-of-type(6) {
    border: none;
    border-bottom: 1px solid #202020; } }

@media (min-width: 1630px) {
  .team .member:nth-of-type(1), .team .member:nth-of-type(2), .team .member:nth-of-type(3) {
    border: none;
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020; }
  .team .member:nth-of-type(4) {
    border: none;
    border-bottom: 1px solid #202020; }
  .team .member:nth-of-type(5), .team .member:nth-of-type(6) {
    border: none;
    border-right: 1px solid #202020; } }
