@mixin buttons {
  font-family: $sec_font;
  color: $base_color;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:link, &:active, &:visited {
    color: $base_color;
  }
  &:hover {
    color: $sec_color;
  }
  &::after {
    content: "→";
    display: inline-block;
    color: $sec_color;
    padding-left: 10px;
  }
}

@mixin button-return {
  color: $base_color;
  font-family: $sec_font;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: $sec_color;
  }
  &:before {
    content: "←";
    display: inline-block;
    color: $sec_color;
    padding-right: 10px;
  }
}

@mixin title {
  font-family: $sec_font;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $sec_color;
}

@mixin subtitle($size) {
  font-family: $main_font;
  color: $base_color;
  font-size: $size;
  font-weight: 400;
}

@mixin paragraph {
  font-family: $sec_font;
  font-size: 14px;
  color: $desc_color;
  line-height: 28px;
}

@mixin pagination-dot {
  background-color: #5c5c5c;
  cursor: pointer;
  &.active {
    background-color: $sec_color;
  }
}

@mixin line {
  content: "";
  display: block;
  position: absolute;
  background-color: $sec_color;
}
