@import "fonts";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  &__wrapper {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    width: 750px;
    font-family: $main_font;
    font-size: 55px;
    color: $base_color;
    font-weight: 400;
    border: 1px solid #595959;
    padding: 50px 0;
    text-align: center;
    &--highlight {
      color: $sec_color;
    }
  }
}

.navigation {
  &__list {
    list-style: none;
    display: flex;
    margin-top: 41px;
  }

  &__item {
    font-family: $nav_font;
    font-size: 13px;
    text-transform: uppercase;
    border-right: 1px solid $sec_color;
    padding: 0 12px;
    a {
      text-decoration: none;
      &:visited, &:link {
        color: $base_color;
      }
    }
    &:last-child {
      border: none;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    left: calc(50% - 16px);
  }
}

.hero-footer {
  width: 100%;
  padding: 0 15%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    top: 30px;
  }

  &__logo {
    display: block;
    text-align: center;
    line-height: 41px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid $sec_color;
    font-family: $nav_font;
    font-size: 20px;
    &:link, &:active, &:visited {
      color: $sec_color;
    }
  }

  &__contact {
    font-family: $link_font;
    font-size: 14px;
    text-transform: uppercase;
    &:link, &:active, &:visited {
      color: $base_color;
    }
    &::after {
      content: "→";
      display: inline-block;
      color: $sec_color;
      padding-left: 10px;
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  &::after {
    display: none;
  }
}

.link_fixed {
  position: fixed;
  top: 0;
  margin-top: 11px;
  right: 15%;
}

.main-content {
  height: 1000px;
  background-color: #595959;
}
