@import "fonts";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
}

.header {
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  &__wrapper {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    width: 750px;
    font-family: $main_font;
    font-size: 55px;
    color: $base_color;
    font-weight: 400;
    border: 1px solid #595959;
    padding: 50px 0;
    text-align: center;
    &--highlight {
      color: $sec_color;
    }
  }
}

.navigation {
  z-index: 3;
  &__list {
    list-style: none;
    display: flex;
    margin-top: 41px;
  }

  &__item {
    font-family: $sec_font;
    font-size: 13px;
    text-transform: uppercase;
    border-right: 1px solid $sec_color;
    padding: 0 12px;
    a {
      transition: all 0.2s ease-in;
      &:visited, &:active, &:link {
        color: $base_color;
      }
      &:hover {
        color: $sec_color;
      }
    }
    &:last-child {
      border: none;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    left: calc(50% - 16px);
  }
}

.hero-footer {
  width: 100%;
  padding: 0 15%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    top: 30px;
  }

  &__logo {
    z-index: 3;
    display: block;
    text-align: center;
    line-height: 41px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid $sec_color;
    font-family: $sec_font;
    font-size: 20px;
    transition: all 0.2s ease-in;
    &:link, &:active, &:visited {
      color: $sec_color;
    }
    &:hover {
      color: $base_color;
      border-color: $base_color;
    }
  }

  &__contact {
    z-index: 3;
    font-family: $link_font;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    &:link, &:active, &:visited {
      color: $base_color;
    }
    &:hover {
      color: $sec_color;
    }
    &::after {
      content: "→";
      display: inline-block;
      color: $sec_color;
      padding-left: 10px;
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  &::after {
    display: none;
  }
}

.link_fixed {
  position: fixed;
  top: 0;
  margin-top: 11px;
  right: 15%;
}

.services {
  min-height: 825px;
  background-color: $back_bright;
  padding: 125px 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 140px 1fr;
  position: relative;
  &__title {
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    font-family: $link_font;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $sec_color;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 2px;
      height: 125px;
      position: absolute;
      top: -147px;
      left: 50%;
      background-color: $sec_color;
    }
  }
  &__description {
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    font-family: $main_font;
    color: $base_color;
    font-size: 40px;
    font-weight: 400;
    padding: 0 20%;
    text-align: center;
    margin-bottom: 30px;
  }
  &__details {
    position: fixed;
    height: 100%;
    width: 70%;
    left: 50%;
    top: 0;
    transform: translateX(-200%);
    transition: all .5s ease-in-out;
  }

  .details {
    z-index: 3;
    background-color: $back_bright;
    display: grid;
    grid-template-columns: 45% 55%;
    &__wrapper {
      grid-column: 1 / 2;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: url(../img/services_details_bgd.jpg);
      background-size: cover;
      background-position: right;
      padding-top: 150px;
      &__title {
        display: block;
        width: 200px;
        height: 75px;
        color: $dark_font;
        background-color: $base_color;
        font-family: $main_font;
        font-size: 30px;
        text-align: center;
        line-height: 75px;
        align-self: flex-end;
      }
      &__hide {
        width: 40px;
        height: 40px;
        background-image: url(../img/arrow_hide.png);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 25px 25px;
        cursor: pointer;
      }
    }
    &__aside {
      grid-column: 2 / 3;
    }

    .aside {
      padding-left: 45px;
      font-family: $sec_font;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      &__subtitle {
        padding-top: 150px;
        color: $base_color;
        font-size: 17px;
        text-transform: uppercase;
        margin-bottom: 35px;
        letter-spacing: 1px;
        font-weight: 600;
        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 125px;
          position: absolute;
          top: 0;
          background-color: $sec_color;
        }
      }
  
      &__description {
        color: $desc_color;
        font-size: 14px;
        line-height: 27px;
        margin-bottom: 30px;
        padding-right: 30%;
      }
  
      &__awards {
        color: $base_color;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        h5 {
          flex-basis: 40%;
          padding-left: 25px;
          height: 50px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            display: block;
            background-position: left;
            background-repeat: no-repeat;
          }
        &:nth-child(1):before {
          background-image: url(../img/strategist_icon.png);
        }
        &:nth-child(2):before {
          background-image: url(../img/research_icon.png);
        }
        &:nth-child(3):before {
          background-image: url(../img/planning_icon.png);
        }
        &:nth-child(4):before {
          background-image: url(../img/trusted_icon.png);
        }
        }
      }
  
      &__contact {
        display: block;
        color: $dark_font;
        width: 220px;
        height: 60px;
        background-color: $sec_color;
        text-align: center;
        line-height: 60px;
        font-size: 17px;
        text-transform: uppercase;
        &:hover {
          background-color: $dark_font;
          color: $sec_color;
          border: 2px solid $sec_color;
        }
      }
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $base_color;
    padding-left: 25%;
    &__icon {
      width: 21px;
    }
    &__title {
      font-family: $main_font;
      font-size: 30px;
      font-weight: 400;
    }
    &__description {
      font-family: $sec_font;
      font-size: 14px;
      color: $desc_color;
      padding-right: 25%;
      line-height: 28px;
    }
    &__link {
      font-family: $sec_font;
      font-size: 14px;
      text-transform: uppercase;
      max-width: 120px;
      text-align: left;
      cursor: pointer;
      &:hover {
        color: $sec_color;
      }
      &::after {
        content: "→";
        display: inline-block;
        color: $sec_color;
        padding-left: 10px;
      }
    }
  }
}

.expand {
  transform: translateX(-50%);
}

.portfolio {
  min-height: 950px;
  padding: 145px 15%;
  background-color: $back_dark;
  display: flex;
  flex-direction: column;
  background-position: center 145px;
  background-repeat: no-repeat;
  background-size: 47% calc(100% - 340px);
  &__title {
    position: relative;
    text-transform: uppercase;
    color: $sec_color;
    font-family: $sec_font;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    margin-top: 145px;
    &:before {
      content: "";
      display: block;
      width: 2px;
      height: 125px;
      position: absolute;
      top: -145px;
      background-color: $sec_color;
    }
  }
  &__subtitle {
    font-family: $main_font;
    font-size: 55px;
    color: $base_color;
    font-weight: 400;
    padding-top: 15px;
    flex: 1;
  }
  &__button {
    font-family: $sec_font;
    color: $base_color;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    text-align: left;
    cursor: pointer;
    align-self: flex-end;
    padding-bottom: 15px;
    &:hover {
      color: $sec_color;
    }
    &::after {
      content: "→";
      display: inline-block;
      color: $sec_color;
      padding-left: 10px;
    }
    &:last-of-type {
      margin-bottom: 150px;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 2px;
        height: 150px;
        position: absolute;
        background-color: $sec_color;
        top: 33.8px;
      }
    }
  }
  &__pagination {
    height: 50px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__dot {
      width: 35px;
      height: 2px;
      margin: 0 25px;
      background-color: #5c5c5c;
      cursor: pointer;
    }
    .active {
      background-color: $sec_color;
    }
  }
}
.portfolio[data-number="1"] {
  background-image: url(../img/project_1.jpg);
}
.portfolio[data-number="2"] {
  background-image: url(../img/project_2.jpg);
}
.portfolio[data-number="3"] {
  background-image: url(../img/project_3.jpg);
}
.portfolio[data-number="4"] {
  background-image: url(../img/project_4.jpg);
}
.portfolio[data-number="5"] {
  background-image: url(../img/project_5.jpg);
}



